#chkForm1 {
  width: 10px;
  height: 10px;
  background-color: green;
  }

#mainNav {
    color: #333A56;
  }

  #username {
      background-color: #F7F5E6;
  }

  #page-top {
      background-color: #F7F5E6;
  }

.btnhide {
    display: none;
}

.btnhide:hover {
    display: inline-block;
}