#chkForm1 {
  width: 10px;
  height: 10px;
  background-color: green;
  }

#mainNav {
    color: #333A56;
  }

#username {
      background-color: #F7F5E6;
  }

#page-top {
      background-color: #F7F5E6;
  }

.valuenok {
      background-color: ff000029 !important;
  }

  input[type="file"] {
    display: none;
}

  ::-webkit-file-upload-button {
    border: 1px solid transparent;
    color: #F7F5E6;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #52658F;
  }

  .btn-del-usr {
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  }
  
  .btn-del-usr:hover {opacity: 1}


  
